<h2>Register Form</h2>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()" novalidate>
  <p>
    <label>Email </label>
    <input type="text" name="email" formControlName="email">
  </p>
  <div *ngIf="!email.valid && email.touched">
    <div [hidden]="!email.errors.required">
      <p style="color: red">Email is not required</p>
    </div>
    <div [hidden]="!email.errors.email">
      <p style="color: red">Email was wrong syntax</p>
    </div>
  </div>
  <p>
    <label>PassWord </label>
    <input type="password" name="password" formControlName="password" >
  </p>
  <div *ngIf="!password.valid && password.touched">
    <div [hidden]="!password.errors.required">
      <p style="color: red">Password is not required!</p>
    </div>
    <div [hidden]="!password.errors.minlength">
      <p style="color: red">Password min length is 6!</p>
    </div>
  </div>
  <p>
    <label>ConfirmPass </label>
    <input type="password" formControlName="confirmpassword" pattern="{{password.value}}">
  </p>
  <div *ngIf="!confirmpassword.valid && confirmpassword.touched">
    <div [hidden]="!confirmpassword.errors.required">
      <p style="color: red">Confirmpassword is not required!</p>
    </div>
    <div [hidden]="!confirmpassword.errors.pattern">
      <p style="color: red">Password is fault!</p>
    </div>
  </div>
  <p>
    <label>Country </label>
    <select formControlName="country" [(ngModel)]="countryDf">
      <option *ngFor="let c of countryList" >{{c.name}}</option>
    </select>
  </p>
  <div *ngIf="country.touched && !country.valid">
    <p style="color: red">Country is not required!</p>
  </div>
  <p>
    <label>Age </label>
    <input type="text" formControlName="age">
  </p>
  <div *ngIf="!age.valid && age.touched">
    <div [hidden]="!age.errors.required">
      <p style="color: red">Age is not required!</p>
    </div>
    <div [hidden]="!age.errors.min">
      <p style="color: red">Age min is 18!</p>
    </div>
  </div>
  <p>
    <label>Gender </label>
    <input type="radio" value="male" name="gender" formControlName="gender" [checked]='true' [(ngModel)]="genderdf"> Male
    <input type="radio" value="female" name="gender" formControlName="gender"> Female
  </p>
  <div *ngIf="gender.touched && !gender.valid">
      <p style="color: red">Gender is not required!</p>
  </div>
  <p>
    <label >Phone </label>
    <input type="text" formControlName="phone" >
  </p>
  <div *ngIf="!phone.valid && phone.touched">
    <div [hidden]="!phone.errors.required">
      <p style="color: red">Phone is not required!</p>
    </div>
    <div [hidden]="!phone.errors.pattern">
      <p style="color: red">Phone was wrong syntax!</p>
    </div>
  </div>
  <button [disabled]="!registerForm.valid">Submit</button>
</form>
